@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default
}

@layer base {
  body {
    font-family: 'IBM Plex Sans', system-ui, -apple-system, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
